<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" />
        <script src="{{ url_for('static',filename='js/index.js') }}"></script>
    </head>
    <body>
        <div class="main">
            <div class="one">
                <div>
                    原文：
                </div>
                <div>
                    <textarea id="inp1"></textarea>
                </div>
            </div>
            <div class="two">
                <br>
                <button id="btn1">编码↓</button>
                <button id="btn2">解码↑</button>
            </div>
            <div class="three">
                <div>
                    鸡语：
                </div>
                <div>
                    <textarea id="inp2"></textarea>
                </div>
            </div>
        </div>
    </body>
</html>