<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" />
        <script src="{{ url_for('static',filename='js/index.js') }}"></script>
    </head>
    <body>
        <div class="main">
            <div class="one">
                <textarea id="inp1"></textarea>
            </div>
            <div class="two">
                <button id="btn1">编码</button>
                <button id="btn2">解码</button>
            </div>
            <div class="three">
                <textarea id="inp2"></textarea>
            </div>
        </div>
    </body>
</html>